*{
    margin: 0;
    padding: 0;
}

.s1_Home{
    width: 100%;
    background-image: url(../img/paper-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div_hero{
    width: 100%;
}

.herimg{
    width: 100%;
}

.div_cntnt_hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    top: 0;
    font-weight: 900;
    color: rgb(38, 37, 37);
    margin-left: 22%;
    margin-top: 5%;
}






















.wrapper {
  height: 100vh;
}

.accordion {
  width: 500px;
  border: 1px solid fuchsia;
  border-radius: 10px;
  overflow: hidden;
}

.accordion .header {
  background-color: #777777;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
}

.accordion .body {
  overflow: hidden;
  background-color: #e7e7e7;
  color: var(--dark);
  height: 0;
}

.accordion .content {
  padding: 10px;
  overflow: hidden;
}

.accordion .content p {
  margin-bottom: 1rem;
  opacity: 0;
}

.accordion .content p:last-child {
  margin-bottom: 0;
}

.accordion .content .horizontal {
  width: 100%;
  height: 300px;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.content .horizontal .card {
  flex: 1 0 350px;
}








.item_nn{
    width: 100%;
    background-image: url(../img/360_F_450279898_UnWEYXQNYnlZtTsgFEPTYoviM6M1ip8G.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
}

.heder{
    padding: 5% 0;
}

.h_ani1{
    font-size: 96px;
    font-weight: 900;
    width: 40%;
    padding: 0 0 0 5%;
}
.p_ani1{
    font-size: 24px;
    font-weight: 100;
    padding: 2% 0 0 5%;
}

.heroimg{
    width: 100%;
}

.scr1{
    width: 25%;
    height: 500px;
    background-image: url(../img/NBB-WorkCoverImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div_hid{
  opacity: 0;
}

/* .div_hid:hover{
    opacity: 100%;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background-color: #38383862;
    animation-duration: 4s;
    height: 100%;
} */

.cs_h{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5% 0 0 0;
    font-size: 22px;
}

.scr2{
    width: 25%;
    height: 500px;
    background-image: url(../img/TacoParty-WorkCoverImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.scr3{
    width: 25%;
    height: 500px;
    background-image: url(../img/AtriumCampus-WorkCoverImage.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.scr4{
    width: 25%;
    height: 500px;
    background-image: url(../img/Marquis-WorkCoverImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.scr5{
    width: 25%;
    height: 500px;
    background-image: url(../img/Warsaw-WorkCoverImage.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.scr6{
    width: 25%;
    height: 500px;
    background-image: url(../img/LeopoldBros-WorkCoverImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.scr7{
    width: 25%;
    height: 500px;
    background-image: url(../img/DispatchHealth-WorkCoverImage.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.scr8{
    width: 25%;
    height: 500px;
    background-image: url(../img/keep-on-truckin.avif);
    background-repeat: no-repeat;
    background-size: cover;
}






