*{
    margin: 0;
    padding: 0;
}

.s1_Home{
    width: 100%;
    background-image: url(../img/paper-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div_hero{
    width: 100%;
}

.herimg{
    width: 100%;
}

.div_cntnt_hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    top: 0;
    font-weight: 900;
    color: rgb(38, 37, 37);
    margin-left: 22%;
    margin-top: 5%;
}