
.races {
  width:fit-content;
  display:flex;
  flex-wrap:nowrap;
  flex-direction: row;
}

.races h2 {
  font-family: 'Staatliches', cursive;
  font-size:30vw;
  flex-shrink:0;
  padding-right:0em;
  padding-left:0.3em;
  color:#e10600;
  
  margin:0; 
}

.races h2:last-of-type {
  background:#e1e1ff;
}

.lightBG {
  background:#313143;
}

.space-20vh {
  height:50vh;
}

.space-30vh {
  height:50vh;
}

.space-50vh {
  height:50vh;
}

.space-100vh {
  height:50vh;
}

.divv{
    width: 10%;
    background-image: url(../img/Team_Dylan___Mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
   
}

.racesWrapper{
    display: flex;
    flex-direction: column;
}