.navbars{
    width: 80%;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}
.and_p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-color: rgb(38, 37, 37);
    border-radius: 100px;
    width: 6%;
    padding: 1% 0;
    text-align: center;
    font-size: 32px;
}

.contact_p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: rgb(38, 37, 37);
    color: white;
    padding: 1% ;
    width: 8%;
    text-align: center;
}